<html>
    <head>
        <title>Create New User Game</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <form method="post" action="/dashboard/create">
            <div class="row">    
                <div class="col-md-4">
                    <label>User Game ID</label></div>
                <div class="col-md-12">
                    <input type="text" name="user_game_id" class="form-control">
                </div>
            </div>
            
            <div class="row">    
                <div class="col-md-4">Nama</div>
                <div class="col-md-12">
                    <input type="text" name="name"  class="form-control">
                </div>
            </div>

            <div class="row">    
                <div class="col-md-4">Alamat</div>
                <div class="col-md-12">
                    <input type="text" name="address" class="form-control">
                </div>
            </div>

            <div class="row">    
                <div class="col-md-4">Hobby</div>
                <div class="col-md-12">
                    <input type="text" name="hobby" class="form-control">
                </div>
            </div>

            <input type="submit" value="Submit">
            </form>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>