<html>
    <head>
        <title>Dashboard User Game</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right"><a href="/dashboard/create" class="btn btn-primary">Create User Game</a></div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                        <% user_biodata.forEach(i => { %>
                        <tr>
                            <td><%= i.user_game_id %></td>
                            <td><%= i.name %></td>
                            <td><%= i.address %></td>
                            <td>
                                <a href="dashboard/update/<%= i.id %>" class="btn btn-primary">Update</a>
                                <a href="dashboard/delete/<%= i.id %>" onclick="confirm('Apakah Anda yakin akan menghapus data ini?');" class="btn btn-danger">Hapus</a>
                            </td>
                        </tr>
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>