<html>
    <head>
        <title>Update New User Game</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <form method="post" action="/dashboard/update/<%= user_biodata.id %>">
            <div class="row">    
                <div class="col-md-4">User Game ID</div>
                <div class="col-md-12">
                    <input type="text" name="user_game_id" value="<%= user_biodata.user_game_id %>" class="form-control">
                </div>
            </div>
            
            <div class="row">    
                <div class="col-md-4">Nama</div>
                <div class="col-md-12">
                    <input type="text" name="name" value="<%= user_biodata.name %>" class="form-control">
                </div>
            </div>

            <div class="row">    
                <div class="col-md-4">Alamat</div>
                <div class="col-md-12">
                    <input type="text" name="address" value="<%= user_biodata.address %>" class="form-control">
                </div>
            </div>

            <div class="row">    
                <div class="col-md-4">Hobby</div>
                <div class="col-md-12">
                    <input type="text" name="hobby" value="<%= user_biodata.hobby %>" class="form-control">
                </div>
            </div>

            <input type="submit" value="Submit">
            </form>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>