<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post" action="login">
        <div class="txt_field">
          <input type="text" required name="username">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Log in">
      </form>
    </div>

  </body>
</html>
