<html>
    <head>
        <title>Login - Challenge 6</title>
        <link rel="stylesheet" href="style/style.css">
    </head>
    <body>
        <div class="container">
            <form method="post" action="login">
            <div class="row">
                <div class="col-md-4">
                    <label for="username">Username</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-8">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-md-4"><input type="submit" value="Log In"></div>
            </div>
            </form>
        </div>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>