<html>
    <head>
        <title>User Not Found</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        User not found <a href="/">Back to login page</a>
    </body>
</html>